/*
Frontend styles for gutenberg blocks
*/

/** === Base Color Palatte === */
@each $color, $code in $foundation-palette {

  .has-#{$color}-background-color {
      background-color: $code;
  }

  .has-#{$color}-color {
      color: $code;
  }
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling
	.wp-block-button__link {
		@extend .button;
    @each $color, $code in $foundation-palette {

      &.has-#{$color}-background-color {
          background-color: $code;
      }

      &.has-#{$color}-color {
          color: $code;
      }
    }
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link{
		@extend .hollow;
	}

	// set transparent background to block for outline button
	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
    // background: transparent;
    .wp-block-button__link{
      // background: transparent;
    }
	}
}

/** === File === */
.wp-block-file .wp-block-file__button{
  @include button();
}

/** === Responsive embed === */

// 16x9
.wp-embed-aspect-16-9 {
  @include responsive-embed(widescreen);
}
// 4x3
.wp-embed-aspect-4-3 {
	@include responsive-embed(default);
}

/** === Columns === */
.wp-block-columns {
  @include xy-grid;
	@include flex-align(center);
  margin-left: -#{map-get($grid-column-gutter, small) / 2};
  margin-right: -#{map-get($grid-column-gutter, small) / 2};
  @include breakpoint(medium) {
    margin-left: -#{map-get($grid-column-gutter, medium) / 2};
    margin-right: -#{map-get($grid-column-gutter, medium) / 2};
  }

  .wp-block-column {
    @include xy-cell();
		margin-bottom: 0;
  }

  &.has-2-columns {
    .wp-block-column {
      @include breakpoint(large) {
        @include xy-cell(6);
      }
    }
  }

  &.has-3-columns {
    .wp-block-column {
      @include breakpoint(large) {
        @include xy-cell(4);
      }
    }
  }

	&.has-4-columns {
    .wp-block-column {
			@include breakpoint(medium) {
				@include xy-cell(6);
			}
      @include breakpoint(large) {
        @include xy-cell(3);
      }
    }
  }

	&.has-5-columns {
    .wp-block-column {
			@include breakpoint(small) {
				@include xy-cell(6);
			}
			@include breakpoint(medium) {
				@include xy-cell(4);
			}
      @include breakpoint(large) {
        @include xy-cell(1 of 5);
      }
    }
  }

	&.has-6-columns {
    .wp-block-column {
			@include breakpoint(small) {
				@include xy-cell(6);
			}
			@include breakpoint(medium) {
				@include xy-cell(4);
			}
      @include breakpoint(large) {
        @include xy-cell(2);
      }
    }
  }
}
