.cards-container {

  @include xy-grid;

  .card {
    @include breakpoint(small) {
      @include xy-cell(12);

      .card-content {
        padding: 1rem;
      }

    }

    @include breakpoint(medium) {
      @include xy-cell(1 of 3, true, 0.7rem );

    }

  }
}

a.card-link {
  display: block;
  transition: all .3s;
  color: inherit;

  &:hover {
    box-shadow: rem-calc(0 40 40) rgba($black,.2);
    transform: translate(0,rem-calc(-10));
  }

}
