.privacy-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: calc(100% - 6rem);
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.consent-callout {
  box-shadow: rem-calc(0 0 30) rgba($black,.2);
  border-radius: $global-radius;
  border: 0;

  .consent-content {
    font-size: rem-calc(12);
  }

  .consent-buttons {
    .button {
      margin-bottom: 0;
    }
  }
}
